Django==5.2.3
djangorestframework==3.16.0
django-cors-headers==4.7.0
djangorestframework_simplejwt==5.5.0
django-extensions==4.1
cryptography==45.0.4
psycopg2-binary==2.9.10
drf-spectacular==0.28.0
python-decouple==3.8
redis==6.2.0
django-redis==5.4.0
django-debug-toolbar==5.2.0
sentry-sdk==2.30.0
reportlab==4.4.1
weasyprint==65.1
xhtml2pdf==0.2.17
svglib==1.5.1
cairosvg==2.8.1
django-ckeditor==6.7.3
pandas==2.3.0
pillow==11.2.1
django-meta==2.5.0
matplotlib==3.10.3
drawsvg
cairosvg
svglib
seaborn==0.13.2
fonttools==4.58.4
python-bidi>=0.5.0
arabic-reshaper==3.0.0
numpy==2.1.0
pytz==2025.2
pytest==8.4.0
pytest-django==4.11.1
factory_boy==3.3.3
